@using WebCMSJIR.Views.Frequentation
@using Oracle.ManagedDataAccess.Client
@{
    ViewData["Title"] = "Afficher Agent";
    var agent = ViewBag.Message;
    FonctionFreq fFreq = new FonctionFreq();
    OracleDataReader sql = fFreq.GetAgent(agent);

}
@while (sql.Read())
{
    <p><b>Matricule :</b> @sql.GetOracleValue(0)</p>
    <p><b>Nouveau matricule :</b> @sql.GetOracleValue(1) </p>
    <p><b>Nom :</b> @sql.GetOracleValue(2) </p>
    <p><b>Statut :</b> @sql.GetOracleValue(3)</p>
    <p><b>SA :</b> @sql.GetOracleValue(4)</p>
    <p class="text-center"><i class="fa fa-circle"></i> </p>
}