@using WebCMSJIR.Views.Frequentation
@using Oracle.ManagedDataAccess.Client
@{
    ViewData["Title"] = "AfficherJDE";
    var matr = ViewBag.Message;
    FonctionFreq ag = new FonctionFreq();
    OracleDataReader dr = ag.GetJDE(matr);
    OracleDataReader drS = ag.AffichageSexeA(matr);
    OracleDataReader drDN = ag.AffichageDatenaisA(matr);
    OracleDataReader drSce = ag.GetSce(matr);
    OracleDataReader drSceF = ag.GetSceF(matr);
    OracleDataReader drDir = ag.GetdirA(matr);
    OracleDataReader drDirF = ag.GetdirF(matr);
    OracleDataReader drLibDirF = ag.GetLibdirF(matr);
    OracleDataReader drLibDirA = ag.GetLibdirA(matr);

    // Curseur
    drS.Read();
    drDN.Read();
    drSce.Read();
    drDir.Read();
    drDirF.Read();
    drSceF.Read();
    drLibDirA.Read();
    drLibDirF.Read();

    FonctionFreq a = new FonctionFreq();
    OracleDataReader drA = a.GetAgentJDE(matr);

    int i = 1;
}

<!-- affiche JDE -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p><u><i>Liste d'ayant droit(s) :</i></u></p> <br />
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>N. matricule </th>
                                        <th>A. matricule</th>
                                        <th>Nom agent</th>
                                        <th>Nom famille</th>
                                        <th>Adresse</th>
                                        <th>Sexe</th>
                                        <th>S. A. </th>
                                        <th>Date de naissance</th>
                                        <th>Service</th>
                                        <th>Direction</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @{
                                            if (drA.HasRows)
                                            {
                                                if (drA.Read())
                                                {
                                                    <td class="uncheck"><button style="min-height: 35px; min-width: 40px" class="btn btn-icon waves-effect waves-light btn-info m-b-5" onclick="Famille(@i)"></button></td>
                                                    <td>@drA.GetOracleValue(0)</td>
                                                    <td>@drA.GetOracleValue(1)</td>
                                                    <td>@drA.GetOracleValue(2)</td>
                                                    <td>@drA.GetOracleValue(2)</td>
                                                    <td>@drA.GetOracleValue(7)</td>
                                                    <td>@drS.GetOracleValue(0)</td>
                                                    <td>@drA.GetOracleValue(5)</td>
                                                    <td>@drDN.GetOracleValue(0)</td>
                                                    <td>@drSce.GetOracleValue(0)</td>
                                                    <td>@drDir.GetOracleValue(0)</td>
                                                    <td>@drLibDirA.GetOracleValue(0)</td>
                                                }
                                            }
                                        }
                                    </tr>
                                    @while (dr.Read())
                                    {
                                        i = i + 1;
                                        <tr class="gradeU">
                                            <td class="uncheck"><button style="min-width: 40px; min-height:35px" class="btn btn-icon waves-effect waves-light btn-inverse m-b-5" onclick="Famille(@i)"></button></td>
                                            <td>@dr.GetOracleValue(0)</td>
                                            <td>@dr.GetOracleValue(1)</td>
                                            <td>@dr.GetOracleValue(2)</td>
                                            <td>@dr.GetOracleValue(3)</td>
                                            <td>@dr.GetOracleValue(7)</td>
                                            <td>@dr.GetOracleValue(4)</td>
                                            <td>@dr.GetOracleValue(5)</td>
                                            <td>@dr.GetOracleValue(6)</td>
                                            <td>@drSceF.GetOracleValue(0)</td>
                                            <td>@drDirF.GetOracleValue(0)</td>
                                            <td>@drLibDirF.GetOracleValue(0)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div> <!-- End Row -->
